@media (min-width: 720px) {
  .hero .hero-content {
    height: 600px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon{   
  background-color: black;
}

.carousel-indicators li{
  background-color: black;
}
