#fh5co-features .feature-center {
    margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
    #fh5co-features .feature-center {
        margin-bottom: 30px;
    }
}

#fh5co-features .feature-center .icon {
    display: table;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#fh5co-features .feature-center .icon i {
    font-size: 50px;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    color: #FF9000 !important;
}

#fh5co-features .feature-center .feature-copy {
    width: 100%;
}

#fh5co-features .feature-center h3 {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

#fh5co-features .feature-center p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

#fh5co-features .feature-center p:last-child {
    margin-bottom: 0;
}

#fh5co-features .feature-center p a {
    color: #000 !important;
}
